#body {
  background-color: darkslateblue;
}

#sortText {
  color: white;
}

#fltString {
  color: white;
  background-color: black;
}

#gryfText {
  color: white
}

#ravText {
  color: white;
}

#huffText {
  color: white;
}

#slyText {
  color: white;
}

#expText {
  color: white;
}
